*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #333;
}

h1{
  margin: 1rem;
  color: white;
  font-size: 2.5rem;
  margin-top: 0rem;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 0 auto;
  background: linear-gradient(90deg, #3498db, #e74c3c);
  flex-wrap: wrap;
}

.box{
  width: 10vw;
  height: 10vh;
  cursor: move;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.box:hover{
  background: linear-gradient(90deg, #2989, #c0392b);
}

.one{
  background-color: #256b99;
}

.two{
  background-color: #e74c3c;
}

.four{
  background-color: #667a1c;
}

.five{
  background-color: #c4336b;
}

.six{
  background-color: #e06c00;
}

.seven{
  background-color: #1cad6a;
}

.eight{
  background-color: #690a59;
}

.nine{
  background-color: #3c9ae7;
}

.ten{
  background-color: #123833;
}

.eleven{
  background-color: #e74c3c;
}

.twelve{
  background-color: #e7d63c;
}
